<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lensyn.gxpt.service.mapper.CaseMapper">
	<resultMap id="BaseResultMap" type="com.lensyn.gxpt.service.entity.Case">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
		<result column="pic" jdbcType="VARCHAR" property="pic" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="location" jdbcType="VARCHAR" property="location" />
		<result column="coverage" jdbcType="VARCHAR" property="coverage" />
		<result column="height" jdbcType="VARCHAR" property="height" />
		<result column="finishtime" jdbcType="VARCHAR" property="finishtime" />
		<result column="scale" jdbcType="VARCHAR" property="scale" />
		<result column="richtext" jdbcType="VARCHAR" property="richtext" />
	</resultMap>
	
	<select id="getCaseList" resultMap="BaseResultMap">
		select * from cases
		<if test="_parameter.type != null and _parameter.type != '' ">
			where
			type = #{type}
		</if>
		limit #{page}, 10
	</select>
	
	<select id="getCaseById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from cases
			where
			id = #{id}
	</select>

	<insert id="insertCase" parameterType="com.lensyn.gxpt.service.entity.Case" useGeneratedKeys="true" keyProperty="id">
		insert into cases (name,title,subtitle,
		pic, url, type, address, content, location,coverage,height,finishtime,scale,richtext) VALUES (#{name},#{title},#{subtitle}, #{pic}, #{url}, #{type},
		#{
		address}, #{content}, #{location}, #{coverage}, #{height}, #{finishtime}, #{scale},#{richtext})
	</insert>
	
	<delete id="delCase" parameterType="java.lang.String">
		delete from cases where id = #{id}
	</delete>
	
	<select id="getCaseCount" resultType="java.lang.Integer">
		select count(1) from cases
		<if test="_parameter != null and _parameter != '' ">
			where type = #{type}
		</if>
	</select>
	
	<update id="updateCase" parameterType="com.lensyn.gxpt.service.entity.Case">
		update cases set
		name=#{name},title=#{title},subtitle=#{subtitle}, pic=#{pic}, url=#{url}, type=#{type},
		address=#{
		address}, content=#{content}, location=#{location}, coverage=#{coverage}, height=#{height}, finishtime=#{finishtime}, scale=#{scale} ,richtext=#{richtext} where id = #{id}
	</update>
	
</mapper>