<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lensyn.gxpt.service.mapper.HrMapper">
	<resultMap id="BaseResultMap" type="com.lensyn.gxpt.service.entity.Hr">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="number" jdbcType="VARCHAR" property="number" />
		<result column="desc1" jdbcType="VARCHAR" property="desc1" />
		<result column="desc2" jdbcType="VARCHAR" property="desc2" />
		<result column="jobtime" jdbcType="VARCHAR" property="jobtime" />
	</resultMap>

	<select id="getHrList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from hr
		<if test="_parameter.type != null and _parameter.type != '' ">
			where
			type = #{type}
		</if>
		limit #{page}, 10
	</select>
	
	<select id="getAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from hr
		<if test="_parameter.type != null and _parameter.type != '' ">
			where
			type = #{type}
		</if>
	</select>

	<insert id="insertHr" parameterType="com.lensyn.gxpt.service.entity.Hr" useGeneratedKeys="true" keyProperty="id">
		insert into hr (name,
		url,
		type, address, description, number, desc1, desc2,jobtime) VALUES (#{name}, #{url},
		#{type},
		#{address}, #{description}, #{number}, #{desc1}, #{desc2},#{jobtime})
	</insert>

	<delete id="delHr" parameterType="java.lang.String">
		delete from hr where id = #{id}
	</delete>
	
	<select id="getHrCount" resultType="java.lang.Integer">
		select count(1) from hr
		<if test="_parameter != null and _parameter != '' ">
			where type = #{type}
		</if>
	</select>
	
	<update id="updateHr" parameterType="com.lensyn.gxpt.service.entity.Hr">
		update hr set
		name=#{name}, url=#{url}, type=#{type}, address=#{address},
		description=#{description}, number=#{number},desc1=#{desc1},desc2=#{desc2},jobtime=#{jobtime} where id = #{id}
	</update>

</mapper>