<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lensyn.gxpt.service.mapper.NewsMapper">
	<resultMap id="BaseResultMap" type="com.lensyn.gxpt.service.entity.News">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pic" jdbcType="VARCHAR" property="pic" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="time" jdbcType="VARCHAR" property="time" />
		<result column="content" jdbcType="VARCHAR" property="content" />

	</resultMap>

	<select id="getNewsList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select * from news
		<if test="_parameter.type != null and _parameter.type != '' ">
			where
			type = #{type}
		</if>
		order by time desc
		limit #{page},10
		
	</select>
	
	<select id="getNewsById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from news
			where
			id = #{id}
	</select>
	

	<select id="getNewsCount" resultType="java.lang.Integer">
		select count(1) from news
		<if test="_parameter != null and _parameter != '' ">
			where type = #{type}
		</if>
	</select>

	<insert id="insertNews" parameterType="com.lensyn.gxpt.service.entity.News"
		useGeneratedKeys="true" keyProperty="id">
		insert into news (pic, url,
		description, type, title, time, content)
		VALUES ( #{pic},
		#{url},#{description}, #{type}, #{title}, #{time},
		#{content})
	</insert>

	<delete id="delNews" parameterType="java.lang.String">
		delete from news where id =
		#{id}
	</delete>

	<update id="updateNews" parameterType="com.lensyn.gxpt.service.entity.News">
		update news set
		type=#{type}, title=#{title}, time=#{time}, content=#{content},
		description=#{description} where id = #{id}
	</update>

</mapper>