<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lensyn.gxpt.service.mapper.UploadFileMapper">
	<resultMap id="BaseResultMap" type="com.lensyn.gxpt.service.entity.UploadFile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="cnurl" property="cnurl" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="fid" property="fid" jdbcType="VARCHAR" />
		<result column="classify" property="classify" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="VARCHAR" />

	</resultMap>
	
	<resultMap id="CommentResultMap" type="com.lensyn.gxpt.service.entity.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="fileid" property="fileid" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
	</resultMap>
	

	<select id="getFileList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from file where fid = #{fid,jdbcType=INTEGER}
	</select>
	
	<select id="getNotImageFileList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select * from file
		where
		classify = #{classify}
		limit #{page},10
	</select>
	
	<insert id="insertUploadFile" 
		parameterType="com.lensyn.gxpt.service.entity.UploadFile" useGeneratedKeys="true" keyProperty="id">
		insert into file (name,url,cnurl,type,fid,classify,time) values (#{name},#{url},#{cnurl},#{type},#{fid},#{classify},#{time})
	</insert>

	<update id="updateUploadFile" parameterType="com.lensyn.gxpt.service.entity.UploadFile">
		update file set
		type=#{type},
		fid=#{fid} where name = #{name}
	</update>
	
	<select id="getFileCount" resultType="java.lang.Integer">
		select count(1) from file
		where type = #{type}
	</select>
	
	<delete id="delFile" parameterType="java.lang.String">
		delete from file where id =
		#{id}
	</delete>
	
	<!-- 评论 -->
	
	<select id="getCommentList" resultMap="CommentResultMap"
		parameterType="java.lang.Integer">
		select * from comment where fileid = #{fileid,jdbcType=INTEGER}
	</select>
	
	<delete id="delComment" parameterType="java.lang.String">
		delete from comment where id =
		#{id}
	</delete>
	
	<insert id="insertComment" 
		parameterType="com.lensyn.gxpt.service.entity.Comment" useGeneratedKeys="true" keyProperty="id">
		insert into comment (content,time,fileid, ip) values (#{content},#{time},#{fileid}, #{ip})
	</insert>
	
</mapper>